/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

a {
    color: #fff;
    text-decoration: none;
}

/* Navigation styles */
nav {
    background: linear-gradient(to right, #ff2f87, #5d3ae5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

nav .logo {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    position: relative;
    font-size: 18px;
}

nav ul li a::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.2s ease-out;
}

nav ul li a::after {
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: top right;
    transition: transform 0.2s ease-out;
}

nav ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: top left;
}

/* Header styles */
header {
    background-image: linear-gradient(to bottom right, #ff2f87, #5d3ae5);
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 20px #ff2f87, 0 0 40px #ff2f87, 0 0 60px #ff2f87, 0 0 80px #ff2f87, 0 0 100px #ff2f87;
}

/* Main styles */
main {
    padding: 50px;
    text-align: center;
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-shadow: 0 0 10px #ff2f87, 0 0 20px #ff2f87, 0 0 30px #ff2f87, 0 0 40px #ff2f87;
}

p {
    font-size: 24px;
    margin-bottom: 40px;
    text-shadow: 0 0 10px #ff2f87, 0 0 20px #ff2f87, 0 0 30px #ff2f87, 0 0 40px #ff2f87;
}

img {
    width: 100%;
    max-width: 1000px;
}

main img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 50px 0;
    box-shadow: 0 0 10px rgba(255, 47, 135, 0.5), 0 0 20px rgba(255, 47, 135, 0.5), 0 0 30px rgba(255, 47, 135, 0.5), 0 0 40px rgba(255, 47, 135, 0.5), 0 0 50px rgba(255, 47, 135, 0.5);
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 30px;
    text-align: center;
}

footer p {
    font-size: 14px;
}

footer a {
    color: #fff;
    text-decoration: underline;
}